# Entorno virtual
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos temporales de SQLite
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm

# Configuración de VS Code / IDEs
.vscode/
.idea/

# Archivos de sistema y entorno
.DS_Store
.env